:root {
  --blue: #2baeb7
}

* {
  box-sizing: border-box;
}

.container {
  width: 1285px;
  margin: 0 auto;

  text-align: center;
}



/* =================================================================HEADER =================================================================*/

header {
  
  padding: 2rem;

}

header>div {
  display: flex;
  justify-content: space-between;
}

header img {
  object-fit: cover;
  width: 100px;
}


header .container>div:nth-child(3) {
  display: flex;

  align-items: start;
  gap: 20px;

}


header .container>div:nth-child(3) button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  background-color: transparent;
  cursor: pointer;
}

header .container>div:last-child button {
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--blue);
  font-weight: bold;
  cursor: pointer;
}

/*================================================================RECHERCHE INPUT================================================================*/


.recherche {
  position: relative;
}
.recherche input{
 
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}

.magnifyGlass{
  position: absolute;
  top: 10px;
  color: #bbb;
    left: 7px;
 
}

/* ================================================================= HERO =================================================================*/

.hero {
  background-image: url(./assets/img/hero.jpg);
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
}

.hero>div {
  margin: auto;
  width: 1280px;
}

.hero-ready {
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
  padding: 25px;
  width: 360px;
  border-radius: 3px;
  box-shadow: 0 0 2px hsla(0, 0%, 7%, .24);
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


}

.hero-ready p {
  font-size: 34px;
}

.hero-ready button {
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--blue);
  font-weight: bold;
  font-size: 16px;
}

/* ================================================================= OFFERS =================================================================*/

main {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  gap: 20px;
  list-style: none;


}




article {
  cursor: pointer;
  padding: 10px 5px 6px 16px;
  width: 235px;


}


.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

article img {
  height: 360px;
  object-fit: cover;
  width: 235px;
}


/*================================ SELECTED OFFREE =================================================================*/

.offre {
  display: flex;
  justify-content: center;
}



/*================================ SIGNUP =================================================================*/


.formulaire {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.formContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;


}

.formulaire form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;

}

.formulaire form button {
  margin-top: 25px;
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--blue);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;

}

.formulaire form input {
  padding: 20px;

  border-radius: 5px;
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(164, 164, 181)
}


.formulaire form input:focus {
  border: 2px solid rgb(192, 167, 241);
  outline: none;
}


.wrong {
  border: 1px solid rgb(244, 24, 24);
}

.passwordInput {
  position: relative;

}


.eyeIcon {
  position: absolute;
  top: 30%;
  font-size: 20px;
  right: 10px;
  cursor: pointer;
}

.formulaire form p {
  color: var(--blue);

  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.formulaire form h1 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.checkbox-container {
  margin-top: 20px;

}

.checkbox-container>p {
  color: #999;
  font-size: 14px;
  text-align: left;
}

.checkbox-container span {
  color: #666;
}

.checkbox-container .check {
  margin-right: 20px;
  -webkit-transform: scale(2);
  transform: scale(2);
  width: 5%;
}



/*================================ PUBLISH =================================================================*/

.publish{
  width: 1284px;
  margin: 0 auto;

}

.publish h2{
  font-size: 24px;
  margin-bottom: 26px;
}

.picture-section{
  display: flex;
  justify-content: center;
 
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin-bottom: 20px;
  border: 1px solid #0ab1ba;
}

 .selectPicture{

  align-items: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  display: flex;
  height: 45px;
  cursor: pointer;
  justify-content: center;
  width: 200px;
}

.label-file{
  color: #2CB1BA;
  
  font-weight: 700;
  
}

.label-file > .fa-plus{
  font-size: 30px;
  margin: 0 10px;
  vertical-align: middle;
 
}

.label-file > span{

  margin: 0 10px;
  vertical-align: middle;
}

.input-file{
 display: none;
}


.text-input-section{

  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin-bottom: 20px;
  border: 1px solid #0ab1ba;
  
}

.text-input-section>div:first-child{

border-bottom: 1px solid #ebedee;
  vertical-align: center;


}

.text-input>input::placeholder, .text-input>textarea::placeholder, .checkbox-section>input::placeholder{
  color:rgb(157, 150, 152)
}

.text-input{
  display: flex;
    justify-content: space-between;
    padding: 24px;
    

}

.text-input>input:focus, .text-input>textarea:focus, .checkbox-section>input:focus{
  
    border-bottom: 1px solid var(--blue);
    outline: none;

  
}

.text-input>h4{
  font-weight: 400;
    margin: 0;
    vertical-align: initial;
}


.text-input>input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  width: 50%;
}

.text-input>textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}


.checkbox-section {
  width: 50%;
}

.checkbox-section>input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  margin-bottom: 40px;
}

.checkbox-input{
  display: flex;
  align-items: center;
}

.check-input {
  width: 30px; 
  height: 30px;
  border-radius: 3px;
  margin: 0 15px 0 0;
  padding: 3px 6px;
  cursor: pointer;
  
}

.submit-button-div{
  display: flex;
  justify-content: flex-end;
}

.button-form-validation {
  background-color: #0ab1ba;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 50px 0;
  font: inherit;
  outline: inherit;
  padding: 12px;
}